
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>
<table style="width:100%" border="2">
    <tbody>
        <tr class="table-mane-row">
            <th>Category</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Drink</td>
            <td>Coffee</td>
            <td>1$</td>
        </tr>
        <tr>
            <td>Drink</td>
            <td>Beer</td>
            <td>2$</td>
        </tr>
    </tbody>
</table>
